Repository icsharpcode/ILSpy, pull requests merged in 2023-06, with the labels that each got.

#3009 Split out VS Extensions into separate sln & add arm64 binaries to 2022 VSIX
  .github/workflows/build-ilspy.yml
  ILSpy.AddIn.Shared/Commands/OpenILSpyCommand.cs
  ILSpy.AddIn.Shared/ILSpyInstance.cs
  ILSpy.AddIn.VS2022/ILSpy.AddIn.VS2022.csproj
  ILSpy.AddIn.VS2022/source.extension.vsixmanifest.template
  ILSpy.AddIn.slnf
  ILSpy.AddIn/ILSpy.AddIn.csproj
  ILSpy.VSExtensions.sln
  ILSpy.sln
Labels: VS Extension, Build Automation

#2994 C# 11: Unsigned right shift
  ICSharpCode.Decompiler.Tests/PrettyTestRunner.cs
  ICSharpCode.Decompiler.Tests/TestCases/Pretty/CompoundAssignmentTest.cs
  ICSharpCode.Decompiler.Tests/TestCases/Pretty/Operators.cs
  ICSharpCode.Decompiler.Tests/TestCases/Pretty/TypeAnalysisTests.cs
  ICSharpCode.Decompiler/CSharp/CSharpDecompiler.cs
  ICSharpCode.Decompiler/CSharp/ExpressionBuilder.cs
  ICSharpCode.Decompiler/CSharp/OutputVisitor/CSharpAmbience.cs
  ICSharpCode.Decompiler/CSharp/OutputVisitor/CSharpOutputVisitor.cs
  ICSharpCode.Decompiler/CSharp/OutputVisitor/GenericGrammarAmbiguityVisitor.cs
  ICSharpCode.Decompiler/CSharp/OutputVisitor/InsertParenthesesVisitor.cs
  ICSharpCode.Decompiler/CSharp/Resolver/CSharpOperators.cs
  ICSharpCode.Decompiler/CSharp/Resolver/CSharpResolver.cs
  ICSharpCode.Decompiler/CSharp/Syntax/Expressions/AssignmentExpression.cs
  ICSharpCode.Decompiler/CSharp/Syntax/Expressions/BinaryOperatorExpression.cs
  ICSharpCode.Decompiler/CSharp/Syntax/TypeMembers/OperatorDeclaration.cs
  ICSharpCode.Decompiler/CSharp/Syntax/TypeSystemAstBuilder.cs
  ICSharpCode.Decompiler/CSharp/Transforms/PrettifyAssignments.cs
  ICSharpCode.Decompiler/CSharp/Transforms/ReplaceMethodCallsWithOperators.cs
  ICSharpCode.Decompiler/DecompilerSettings.cs
  ICSharpCode.Decompiler/IL/Instructions/CompoundAssignmentInstruction.cs
  ICSharpCode.Decompiler/IL/Transforms/TransformAssignment.cs
  ICSharpCode.Decompiler/Output/IAmbience.cs
  ILSpy/Languages/CSharpLanguage.cs
  ILSpy/Properties/Resources.Designer.cs
  ILSpy/Properties/Resources.resx
Labels: New Feature, Decompiler, C#

#3003 Fix compound assignments involving local variables
  ICSharpCode.Decompiler.Tests/TestCases/Pretty/CompoundAssignmentTest.cs
  ICSharpCode.Decompiler/CSharp/ExpressionBuilder.cs
  ICSharpCode.Decompiler/CSharp/Transforms/PrettifyAssignments.cs
Labels: Bug, Decompiler, C#

#3018 Update readme .NET SDK -> 7.0 Unix/Mac section
  README.md
Labels: Documentation

#3016 Refactor ResXResourceWriter
  ICSharpCode.Decompiler.Tests/ICSharpCode.Decompiler.Tests.csproj
  ICSharpCode.Decompiler.Tests/Util/FileUtilityTests.cs
  ICSharpCode.Decompiler.Tests/Util/ResourceReaderWriterTests.cs
  ICSharpCode.Decompiler.Tests/Util/Test.resources
  ICSharpCode.Decompiler/Util/ResXResourceWriter.cs
Labels: ResX
