Repository icsharpcode/ILSpy, pull requests merged in 2023-07, with the labels that each got.

#3015 Add support for MCS 2.6.4 pinned region with string variable
  ICSharpCode.Decompiler.Tests/ILPrettyTestRunner.cs
  ICSharpCode.Decompiler.Tests/TestCases/ILPretty/MonoFixed.cs
  ICSharpCode.Decompiler.Tests/TestCases/ILPretty/MonoFixed.il
  ICSharpCode.Decompiler/IL/ControlFlow/DetectPinnedRegions.cs
Labels: Decompiler, mcs

#3032 Fix #3031: emit sequence points for expression-bodied properties and indexers
  ICSharpCode.Decompiler.Tests/ICSharpCode.Decompiler.Tests.csproj
  ICSharpCode.Decompiler.Tests/PdbGenerationTestRunner.cs
  ICSharpCode.Decompiler.Tests/TestCases/PdbGen/Members.xml
  ICSharpCode.Decompiler/CSharp/CSharpDecompiler.cs
  ICSharpCode.Decompiler/CSharp/SequencePointBuilder.cs
  ICSharpCode.Decompiler/CSharp/Transforms/NormalizeBlockStatements.cs
  ICSharpCode.Decompiler/DebugInfo/DebugInfoGenerator.cs
Labels: PDBGen

#3035 Update Check for ilspycmd dotnet tool
  ICSharpCode.ILSpyCmd/DotNetToolUpdateChecker.cs
  ICSharpCode.ILSpyCmd/ICSharpCode.ILSpyCmd.csproj
  ICSharpCode.ILSpyCmd/IlspyCmdProgram.cs
Labels: X-Platform

#3026 Accelerate local builds in Visual Studio
  Directory.Build.props
Labels: Build Automation

#3040 Change .Result to .GetAwaiter().GetResult()
  ICSharpCode.ILSpyX/LoadedAssembly.cs
  ILSpy/TreeNodes/ReferenceFolderTreeNode.cs
Labels: Bug
